<h1>你好 {{ student.student_name }}</h1>
<!-- 下拉菜单选择实验室 周次 -->
<form action="{% url 'tests:m_r_p' %}" method="POST">
{% csrf_token %}
    <p>
        <select name="select_lab" id="id_lab">
        {% for lab in labs%}
            <option value="{{ lab.id }}">{{ lab.name }}</option>
        {% endfor %}
        </select>
    </p>
    <p>
        <select name="select_week" id='id_week'>
            <option value="1">第一周</option>
            <option value="2">第二周</option>
        </select>
    </p>
    <p><button type="submit">查询</button></p>
</form>