<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>成功登陆后的页面</title>
        <script></script>
    </head>
    <body>
        <h1>你好</h1>
        <p>{{ student.student_name }}</p>
        <a href="{% url 'tests:change_pwd' %}">修改密码</a>
        <a href="{% url 'tests:logout' %}">退出登录</a>
        <p><a href="{% url 'tests:my_res' %}">我的预约</a></p>
        <!-- <p><a href="/tests/login/res/">我的预约</a></p> -->
        <p><a href="{% url 'tests:m_r_p' %}">预约实验室</a></p>
    </body>
</html>